* {
    box-sizing: border-box;
  }



header{
    text-align: center;
    background-image: linear-gradient(to right, blue, rgb(21, 18, 73));
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    padding-bottom: 1px;
    margin: 0;
    
}


.container{
    position: absolute;
    border-bottom: solid 2px rgb(182, 182, 182);
    margin-right: 75vw;
    padding-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.information{
    position: relative;
    width: 73vw;
    height: 32vh;
    margin: 10px;
    padding-left: 5vw;
    float: right;
    display: block;
    border: solid 1px black;
}

.forecast{
    position: relative;
    float: right;
    display: block;
    margin-right: 4vw;
    border: solid 2px blue;
    margin-top: 5vh;
    padding: 3vh;
}
.column{
    padding: 10px;
    display: table;
    float: left;
    border: solid 2px purple;
    width: 10vw;
    margin: 3vh;
    height: 25vh;
    background-color: gray;
}

h4{
    font-size: 12px;
}
p{
    font-size: 12px;
}

textarea{
    border-top-color: rgb(182, 182, 182);
    border-left-color: rgb(182, 182, 182);
    border-right-color: rgb(182, 182, 182);
    resize: none;
    width: 20vw;
    margin-left: 1vw;
}

button{
    display: block;
    width: 20vw;
    height: 5vh;
    background-color: rgb(20, 182, 247);
    color: white;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    margin-left: 1vw;
}

li{
    list-style: none;
}